<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="CONN_DB_TNSERP" connectionString="server=DRAGONPC\SQL2008;Integrated Security=SSPI;database=TNSERP;Enlist=true;Pooling=true;Max Pool Size=9999999;Min Pool Size=0;packet size=1000"></add>
  </connectionStrings>
  <appSettings>
    <add key="AppCode" value="Etown"/>
  </appSettings>
  
  <system.web>
    
  <compilation debug="true" strict="false" explicit="true" targetFramework="4.0" />
  </system.web>
  <system.serviceModel>
    <services>
      <service name="Illumin.SystemManage">
        <endpoint address="" binding="webHttpBinding" contract="Illumin.Services.ISystemManage" behaviorConfiguration="jsonWcfBehavior"/>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors >
         <behavior name="jsonWcfBehavior">
           <webHttp/>
          <enableWebScript/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
    
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
  
</configuration>
